// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, or @import url().
// -----------------------------------------------------------------------------
/* 
  Font Name: [Inter]
  Font Weight: [500Regular, 600, 700Bold]
  For Use it: [font-family: 'Inter']
*/
@import url(https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap);
/* 
  Font Name: [Roboto Mono]
  Font Weight: [400Normal]
  For Use it: [font-family: 'Roboto Mono']
*/
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);
