/**
 * Basic typography style for copy text
 */
body {
  color: $black;
  background-color: $white;
  font: normal 100% / 1.4 $main-font;
}

::selection {
  background-color: #1fc84496;
  color: $white;
}
